<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Noxirus Company Home Page</title>
    </head>

    <body>
        <h2>Noxirus Company Home Page</h2>
        <hr>
        <p>Welcome to the company home page</p>

        <hr>

        <p>
            User: <span sec:authentication="principal.username"></span>
            <br><br>
            Role(s): <span sec:authentication="principal.authorities"></span>
        </p>

        <hr>

        <div sec:authorize="hasRole('MANAGER')">
            <p>
                <a th:href="@{/leaders}">Leadership Meeting</a>
                (Only for Managers)
            </p>
        </div>

        <div sec:authorize="hasRole('ADMIN')">
            <p>
                <a th:href="@{/systems}">System Information</a>
                (Only for Administrators)
            </p>
            <hr>
        </div>

        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" />
        </form>


    </body>

</html>